<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
<h3>Profile</h3>

<hr>
<br>

<h3>ユーザー名</h3>
<%= @user.name %>
<hr>
<h3>プロフィール</h3>
<%= @user.profile %>
<hr>
<h3>フレンド</h3>
<%= render 'relationships/follow_form', user: @user %>
<hr>


        </div>
    </div>
</div>