<h1 class="display-1 text-black text-center font-weight-bold" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">ツブログ</h1>
<h2 class="text-center" style="color: #ccc">「つぶやき」をブログのようにお手軽管理</h2>

<%= link_to '新規登録', new_user_registration_path %> <%= link_to 'ログイン', new_user_session_path %>