/* PC メニュー */
/* classはapplication・header参照 */
.split {
  display: table;
  width: 100%;
}
.split-item  {
  display: table-cell;
  padding: 10px;
  width: 20%;
}
.split-menu{
  background: #fef6e4;
  color: #001858;
  position: relative;
}
.menu-inner{
  height: 100%;
  padding: 50px 0 0 0;
  position: fixed;
  width: 25%;
  h3{
    font-size: 12px;
  }
}
.split-main{
  background: #fef6e4;
  color: #001858;
  width: 70%;
}

/* 画面1023px時　メニュー */
@media only screen and (max-width: 1023px) {
    /* 簡易プロフィールを隠す */
  .profile{ display: none; }
  /* HEADERを上に取り付けする */
    .split{
        display: block;
    }
    .split-item{
        display: block;
        width: auto;
    }
    .menu-inner{
        position: fixed;
        width: auto;
    }
    
  /* main content test */
  .split-main{
    display: block;
    width: 100%;
    margin: 0;
    padding: 100px 0 0 0;
  }
  .main{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; 
  }
}

@media only screen and (max-width: 767px) {
  .navigation ul li{ width: 50%; }
  .navigation ul li:nth-of-type(2n){ border-right: 0; }
}
@media only screen and (max-width: 479px) {
.navigation ul li{
    float: none;
    width: 100%;
  }
}

