
/* コピペ */
body {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #fff
}


.form-control {
  display: block;
  width: 100%;
  height: calc(2.19rem + 2px);
  padding: .375rem .75rem;
  font-size: .9rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

/* PC メニュー */
/* classはapplication・header参照 */
.split {
  display: table;
  width: 100%;
}
.split-item  {
  display: table-cell;
  padding: 10px;
  width: 20%;
}

.main{
  display: table-cell;
  width: 85%;
  padding: 0;
}
.navigation h3{
  margin: 0;
  padding: 8px 5px 5px;
  background: #fff;
  color: #000;
  font-size: 12px;
}
  .menu ul{
  li { 
    list-style: none;
    }
  }


/* 画面1023px時　メニュー */
@media only screen and (max-width: 1023px) {
    /* 簡易プロフィールを隠す */
  .profile{ display: none; }
  /* HEADERを上に取り付けする */
    .split{
        display: block;
    }
    .split-item{
        display: block;
        width: auto;
    }
    .menu-inner{
        position: fixed;
        width: auto;
    }
    
  /* main content test */
  .split-main{
    display: block;
    width: 100%;

    margin-top: 10px;
    padding: 0;
  }
  .navigation{
    position: sticky;
    z-index: 2;
    top: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background: #ffffff;

  }
  .main{
    display: block;
    z-index: ｓｓ1;
    width: 100%;

    margin-top: 1em;
    padding: 60; 
  }
  .menu ul{
    text-align: center;
  li { 
    display: inline-block;
    list-style: none;
    width: 100px;
    }
  }
  /* 簡易プロフィールを隠す */
  .profile{ display: none; }

}

@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 479px) {
}

