<!-- ログインしてない時=ウェルカムページの時は隠す-->

<div id="navigation">
  <div id="menu">
    <div id="profile">
    <h3>簡易プロフィール</h3></div>
    <% if current_user %>
    <%= current_user.name %>
    <%= current_user.profile %>
    <% end %>
    <ul>
      <li><%= link_to 'Profile', users_show_path %></li>
      <li><a href="#">menu2</a></li>
      <li><a href="#">menu3</a></li>
      <li><a href="#">menu4</a></li>
      <li><a href="#">menu5</a></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
    
  </div>
</div>
