<div class="top-navi">
<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">ツブログ</a>
  <!-- ハンバーガー -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- ナビゲーションメニュー -->
  <div class="collapse navbar-collapse" id="navbarNav">
  <%= render 'layouts/menu' %>
  </div>
</nav>
</div>

<div class="menu-inner">
  <div class="menu">
    <div class="profile">
      <% if current_user %>
      <p>プロフィール</p>
      <p>ユーザー名：<%= current_user.name %></p>
      <p>プロフィール：<%= current_user.profile %></p>
      <% end %>
    </div>
    <div class="left-menu">
      <%= render 'layouts/menu' %>
    </div>
  </div>
</div>